<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product List</title>
    <script src="/scripts/common.js"></script>
  </head>
  <body>
    <h1>Here is the Product List</h1>
    <% for (let i = 1; i <= 10; i++) { %>
    <a href="/product-detail/<%= i %>" style="display: block; margin-bottom: 10px">Go to Product Detail <%= i %></a>
    <% } %>
  </body>
</html>
